<!doctype html>
<html lang="en">

<head>
    <title>CRUD Node</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="container">
            <h1 class="display-4 my-5 text-center">Node CRUD App</h1>
            <form class="w-50 m-auto">
                <div class="form-group row">
                    <label for="item" class="col-sm-12 col-form-label">Add Item</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" name="item" id="item" placeholder="Add Item">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 text-center">
                        <button type="submit" class="btn btn-primary">Add Item <i class="fa fa-plus"
                                aria-hidden="true"></i></button>
                    </div>
                </div>
            </form>
            <!-- Search Form -->
            <form class="w-50 m-auto">
                <div class="form-group row">
                    <label for="item" class="col-sm-12 col-form-label">Search Item</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" name="item" id="item" placeholder="Search Item">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 text-center">
                        <button type="submit" class="btn btn-primary">Search Item<i class="fa fa-search"
                                aria-hidden="true"></i></button>
                    </div>
                </div>
            </form>
            <div class="result-data w-50 m-auto">
                <table class="table table-striped table-inverse">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Data</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody class="tbody">
                        <!-- <tr>
                            <td scope="row">Data</td>
                            <td>
                                <div class="rounded btn btn-info">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </div>
                            </td>
                            <td>
                                <div class="rounded btn btn-danger">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </div>
                            </td>
                        </tr> -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="./index.js"></script>
</body>

</html>